<h1>Edit your task:</h1>

<%=form_for @task do |f|  %>
  <%= f.label "task title:" %>
  <%= f.text_field :title %>
  <%= f.label "task details:" %>
  <%= f.text_field :details %>
  <%= f.submit %>
<%end %>
